.movie-container .movie-overview {
    margin-right: 20px;
}


.image-container.border.rounded-4.mb-3.d-flex.justify-content-center {
    border: none !important;
}

.similar-movies-title{
    margin-bottom: 20px!important;
}
